


.container1 {
  width: 40rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
  color: white;
  border-radius: 12px;
  padding: 10px 40px;
  margin: 0 auto; /* Added to center horizontally */
  margin-top: 100px; /* Adjust as needed for vertical positioning */
  background: linear-gradient(90deg, #120A44 ,#463E72);
  
}

.container1 h1{
  font-size: 36px;
  text-align: center;
}
.container1 .input-box{
  width: 100%;
  height: 50px;
  /* /background: #463E72;/ */
  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255,255,255,0.2);
  border-radius: 40px;
  color:white;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: white;
}
.container1 .checkbox{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.checkbox label input{
  accent-color: white;
  margin-right: 3px;
}
.checkbox a{
  color: black;
  text-decoration: none;
}
.checkbox a:hover{
  text-decoration: underline;
}
.container1 .btn{
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.2);
  outline: none;
  border-radius:40px ;
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-weight: 600;
}
.container1 .btn:hover{
  background-color: #623195;
}
.container1 .signup{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;

}
.signup p a{
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.signup p a:hover{
  text-decoration: underline;
  color: #d1abf9;
}
.checkbox a:hover{
  color:#d1abf9;
}